body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;       
}
.pic-title{
    position: relative;
    text-align: center;
}

.center-Top{
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-Bottom{
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.discount{
    color:red;
    text-align: center;
}
.cat{
    color: red;
    text-align: center;
}
.All{
    text-align: center;
}
.newyearphoto{
 text-align: center;
}
.divv{
   position: relative;
   text-align: center;
}
.Cccenter-top{
    color: white;
    position: absolute;
    text-align: left;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.CCcenter-Bottom{
    color: white;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.btn-type{
    border-radius: 5px;
    color: #FD6E0A;;
    text-align: center;
    border: 0;
}
.Adress{
  gap: 50px;  
  background-color: burlywood;
  text-align: center;
  background-position: bottom center;
  padding: 100px 0px;
  border-radius: 10px;
  margin: 100px 0px;
  font-weight: 700;
  height: 105px;
  width: 1320px;
  
 
  
}

.adress-detials{
    color:red;
}
.Btn-color{
    background-color: red;
    color:white;
}

.container{
    text-align: center;
    display: flex;
    padding: auto;

}
.container-title{
    color: red;
    text-align: center;
}
.Container-Name{
    text-align: center;
    margin-left: 0;
}
.Container-description{
    text-align: center;
    margin-left: 0;
}

.img-contaie{
    border-width: 5px;
    border-color: red; 
    text-align: center;
    font-weight: 700;
    vertical-align: middle;  
}
.FY-year{
    margin-right: 0;
    text-align: center;
    color: red;
}
.FY-description{
    margin-right: 0;
    text-align: center;
}
.d-title{
    text-align: center;
}
.d-discout{
    text-align: center;
}
.sp-title{
    color: red;
}
.image-merge{
    margin: 0;
    max-width: fit-content;
    overflow: auto;

}
.gft-titles{
    color:red;
    text-align: center;
}
.git-label{
    text-align: center;
}
.git-descrpton{
    text-align: center;
}
.Contain-gallery{
    max-width: 1200px;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;
}
.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float:left;
    width: 390px;
}
