.pic-title{
    position: relative;
    text-align: center;
}

.center-Top{
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-Bottom{
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.discount{
    color:red;
    text-align: center;
}
.cat{
    color: red;
    text-align: center;
}
.All{
    text-align: center;
}
.newyearphoto{
 text-align: center;
}
.divv{
   position: relative;
   text-align: center;
}
.Cccenter-top{
    color: white;
    position: absolute;
    text-align: left;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.CCcenter-Bottom{
    color: white;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.btn-type{
    color: white;
    text-align: center;
    top:60%;
    left: 50%
    transform: translate(-50%, -50%); 
}
.Adress{
  gap: 50px;  
  background-color: burlywood;
  text-align: center;
  margin: none;
  border-radius: 5px;
  position: relative;
  padding: 100px 20px; 
}

.adress-detials{
    color:red;
}
.Btn-color{
    background-color: red;
    color:white;
}

.container{

}
.container-title{
    color: red;
    text-align: center;
}
.Container-Name{
    text-align: center;
    margin: 0;
}
.Container-description{
    text-align: center;
}
.img-contaie{
    padding: 0%;
    position: relative;
    border: radius 50%;
    display:inline-block; 
    margin:0 15px;
}
